// Variables for overall settings

// Global variables
$small-breakpoint:  em-calc(640)  !default;
$medium-breakpoint: em-calc(1024) !default;
$large-breakpoint:  em-calc(1440) !default;
$xlarge-breakpoint: em-calc(1920) !default;

// Grid variables
$column-gutter: 20px !default;
$total-columns: 12 !default;
