// Grid composing mixins and generations

@function grid-calc($col-size) {
    $result: percentage(($col-size / $total-columns));
    @if $result == 0% { 
        $result: 0; 
    }
    @return $result;
}

// Make row: mixing to make row and define it behavior
@mixin make-row(
    $column: false,
    $direction-reverse: false,
    $wrap: false,
    $wrap-reverse: false,
    $justify: 'start',
    $items: 'stretch',
    $content: 'stretch',
    $wrapper: false ) {

    // Direction settings
    @if $column == true  {
        @if $direction-reverse == true {
            flex-direction: column-reverse;
        } @else {
            flex-direction: column;
        }
    } @else {
        @if $direction-reverse == true {
            flex-direction: row-reverse;
        } @else {
            flex-direction: row;
        }
    }

    // Wrap settings
    @if $wrap == true {
        @if $wrap-reverse == true {
            flex-wrap: wrap-reverse;
        } @else {
            flex-wrap: wrap;
        }
    } @else {
        flex-wrap: nowrap;
    }

    // Justify settings
    @if $justify == 'end' {
        justify-content: flex-end;
    } @else if $justify == 'center' {
        justify-content: center;
    } @else if $justify == 'between' {
        justify-content: space-between;
    } @else if $justify == 'around' {
        justify-content: space-around;
    } else {
        justify-content: flex-start;
    }

    // Item alignment settings
    @if $items == 'start' {
        align-items: flex-start;
    } @else if $items == 'end' {
        align-items: flex-end;
    } @else if $items == 'baseline' {
        align-items: baseline;
    } @else if $items == 'center' {
        align-items: center;
    } else {
        align-items: strech;
    }

    // Content alignment settings
    @if $content == 'end' {
        justify-content: flex-end;
    } @else if $content == 'between' {
        justify-content: space-between;
    } @else if $content == 'around' {
        justify-content: space-around;
    } @else if $content == 'center' {
        justify-content: center;
    } else {
        justify-content: start;
    }

    // Wrapper options
    @if $wrapper == true {
        max-width: $max-wrapper-width;
    }

    // Base row style
    display: flex;
}

@mixin make-column(
    $collapse: false,
    $order: false,
    $grow: false,
    $shrink: false,
    $size: 'auto',
    $align: 'auto') {

    @if $collapse == true {
        padding-left: 0;
        padding-right: 0;
    } @else {
        padding-left: ($column-gutter/2);
        padding-right: ($column-gutter/2);
    }
    
    @if $order {
        flex-order: $order;
    } @else {
        flex-order: 0;
    }

    @if $grow {
        flex-grow: $grow;    
    } @else {
        flex-grow: 0;
    }

    @if $shrink {
        flex-shrink: $shrink;
    } @else {
        flex-shrink: 0;
    }

    @if $size {
        flex-basis: grid-calc($size);
    } @else {
        flex-basis: auto;
    }

    box-sizing: border-box;
}